<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.1" targetFramework="net472" />
  <package id="geometry3Sharp" version="1.0.324" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="OpenToolkit.Core" version="4.0.0-pre3" targetFramework="net472" />
  <package id="OpenToolkit.Graphics" version="4.0.0-pre3" targetFramework="net472" />
  <package id="OpenToolkit.Input" version="4.0.0-pre3" targetFramework="net472" />
  <package id="OpenToolkit.Mathematics" version="4.0.0-pre3" targetFramework="net472" />
  <package id="opentoolkit.redist.glfw" version="3.3.0-pre20190424184726" targetFramework="net472" />
  <package id="OpenToolkit.Windowing.Common" version="4.0.0-pre3" targetFramework="net472" />
  <package id="OpenToolkit.Windowing.Desktop" version="4.0.0-pre3" targetFramework="net472" />
  <package id="OpenToolkit.Windowing.GraphicsLibraryFramework" version="4.0.0-pre3" targetFramework="net472" />
</packages>